.hint {
    background-color: rgb(200, 200, 200);
    display: inline-block;
    color: black;
    font-size: 20px;
    border: 1px rgb(50, 50, 50) solid;
}
.hint span {
    font-weight: 600;
}
.puz-res {
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 25px;
}
.play-color {
    text-align: center;
    font-size: 22px;
}
@media screen and (min-width: 1430px) {
    .puz-ctrl{
        font-size: 22px;
    }
}
@media screen and (min-width: 1700px) {
    .hint {
        font-size: 25px;
    }
    .puz-res {
        font-size: 40px;
    }
    .puz-ctrl {
        font-size: 25px;
    }
    .play-color {
        font-size: 28px;
    }
}
@media screen and (min-width: 2300px) {
    .puz-ctrl{
        font-size: 30px;
    }
}
