.site-sections {
    position: fixed;
    font-size: 17px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.2);
}
.site-sections a {
    padding: 10px 0;
    text-align: center;
}
.site-sections span {
    padding-left: 7px;
}
.site-sections .row svg {
    height: 21px;
    width: 18px;
}
.is-active {
    color: rgb(255, 200, 149);
    text-decoration: underline;
}
