html {
  overflow-y: scroll;
}
body {
  padding: 60px 0 60px;
  margin: 0;
  background: #000 url("bg.jpg") center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  position: relative;
}
@media screen and (max-width: 500px) {
  div.jumbotron p {
    font-size: 14px;
  }
  div.jumbotron h3 {
    font-size: 24px;
  }
}
@media screen and (max-width: 1000px) {
  div.jumbotron p {
    font-size: 15px;
  }
  div.jumbotron h3 {
    font-size: 26px;
  }
}
.layout {
  margin-right: 0;
}
.loader {
  position: fixed;
  border: 14px solid #f3f3f3;
  border-radius: 50%;
  border-top: 14px solid #3498db;
  width: 80px;
  height: 80px;
  z-index: 100;
  -moz-animation: spin 2s linear infinite;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
.centered-hor {
  left: 45%;
}
.centered-ver {
  top: 45%;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.footer {
  height: 50px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
div {
  color: #fff;
}
a {
  color: #fff;
  transition: ease-out all 0.3s;
}
a:hover {
  text-decoration: none;
  color: rgb(190, 190, 190);
}
.light-gray-btn {
  background-color: rgb(200, 200, 200) !important;
  color: #000 !important;
  font-weight: 600 !important;
  border-color: #4e555b !important;
}
.light-gray-btn:hover {
  background-color: rgb(150, 150, 150) !important;
}
.news-preview .card-body .card-text {
  overflow: hidden;
  font-size: 1rem;
  line-height: 1.5rem;
  max-height: 4.5rem;
}
